<?xml version="1.0" encoding="utf-8"?>
<!-- Chứa các menu của module-->
<odoo>
    <data>
        <menuitem id="menu_service_bed_action"
                  name="Danh sách giường"
                  parent="crm.crm_menu_config"
                  action="bs_booking_service.action_view_service_bed"
                  sequence="1"/>

        <menuitem id="menu_booking_service_action"
                  name="Đơn đặt làm dịch vụ"
                  parent="crm.crm_menu_sales"
                  action="action_view_booking_service"
                  sequence="1"/>
    </data>
</odoo>
